<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.chatter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MultipleChoiceActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity
            android:name=".ui.activity.GamesActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.JokesActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.FlashCardActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.HomeNavigationActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.CreateChatActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.CreateBotActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.BaseSelectionActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.ConcentrationActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.BotQuizSelectionActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.CategorySelectionActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.QuizActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.ProfileActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.MyStashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.LevelActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.LanguageSelectionActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".ui.activity.BaseChatActivity" />
        <activity android:name=".ui.activity.BaseActivity" />
        <activity
            android:name=".ui.activity.SignInActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.GetStartedActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.DashboardActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ui.activity.ChatterActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>